@page{
margin:5pt;
}
body{
font-family:Georgia;
font-size:200em;

}

p.nonindent{
text-indent:0em;
text-align: justify;
line-height:1.2em;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
}
p.nonindent1{
text-indent:0em;
text-align: justify;
line-height:1.2em;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
}
p.indent{
text-indent:1.5em;
text-align: left;
line-height:1.4em;
font-size:18px;
margin-top:0em;
margin-bottom:0em;
margin-left:30px;
margin-right:30px;

}
p.indent1{
text-indent:1.5em;
text-align: justify;
line-height:1.2em;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
}
p.images{
text-indent:0em;
text-align: center;
line-height:1.2em;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;

}
p.center {
font-size:1em;
margin-top: 0em;
text-align: center;
margin-bottom: 0em;
text-indent:0em;
}
p.center1 {
font-size:1.1em;
margin-top: 0em;
text-align: center;
margin-bottom: 0em;
text-indent:0em;
}
p.center2 {
font-size:1em;
margin-top: 1em;
text-align: center;
margin-bottom: 1em;
text-indent:0em;
}

a {
text-decoration: none;
}

.title {
font-size: 1.5em;
text-align: left;
line-height: 2em;
margin-top: 2em;
text-indent:0em;
margin-bottom: 1em;
}

.chap {
text-indent:1.5em;
font-size: 1.2em;
text-align: left;
line-height: 1.2em;
margin-top: 2em;
margin-bottom: 1em;
}
.chaps {
text-indent:0em;
font-size: 1.2em;
text-align: left;
line-height: 1.2em;
margin-top: 2em;
margin-bottom: 1em;
}
.chap1 {
text-indent:1.5em;
font-size: 1.2em;
text-align: left;
line-height: 1.2em;
margin-top: 0em;
margin-bottom: 1em;
}

p.aut{
text-indent:0em;
text-align: left;
line-height:1.2em;
font-size:1.3em;
margin-top:0em;
margin-bottom:0em;
}

p.copy{
text-indent:0em;
text-align: left;
line-height:1.2em;
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
}

p.copy1{
text-indent:0em;
text-align: left;
line-height:1.2em;
font-size:0.8em;
margin-top:1em;
margin-bottom:0em;
}

p.toc{
text-indent:0em;
text-align: left;
line-height:1.2em;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
}

.block
{
color:#FF6600;
margin-top:1em;
margin-bottom:1em;
}
.top
{
margin-top:3em;
}

img
{
max-width:100%;
}

.pbrk
{
page-break-before:always;
padding-top:3em;
}