<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pages</key>
		<integer>7</integer>
		<key>name</key>
		<string>Глава 1. Волшебная лисичка</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>7</integer>
		<key>name</key>
		<string>Глава 2. Странный учитель</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>3</integer>
		<key>name</key>
		<string>Глава 3. Вредная сестра</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>4</integer>
		<key>name</key>
		<string>Глава 4. Кафе «Пончики»</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>6</integer>
		<key>name</key>
		<string>Глава 5. Морской волк</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>2</integer>
		<key>name</key>
		<string>Глава 6. Нелетающий дракон</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>7</integer>
		<key>name</key>
		<string>Глава 7. Огненный хоккей</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>8</integer>
		<key>name</key>
		<string>Глава 8. Бездонный остров</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>4</integer>
		<key>name</key>
		<string>Глава 9. Батискаф из демонита</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>7</integer>
		<key>name</key>
		<string>Глава 10. Леовилль и леомены</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>8</integer>
		<key>name</key>
		<string>Глава 11. Нарисованные человечки</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>4</integer>
		<key>name</key>
		<string>Глава 12. Вдохновение и магия</string>
	</dict>
	<dict>
		<key>pages</key>
		<integer>8</integer>
		<key>name</key>
		<string>Глава 13. Великое заклинание</string>
	</dict>
</array>
</plist>
