<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>{{240, 206}, {87, 87}}</string>
	<key>17</key>
	<string>{{153, 42}, {87, 87}}</string>
	<key>18</key>
	<string>{{240, 42}, {87, 87}}</string>
	<key>19</key>
	<string>{{66, 42}, {87, 87}}</string>
	<key>21</key>
	<string>{{327, 206}, {87, 87}}</string>
	<key>26</key>
	<string>{{66, 124}, {87, 87}}</string>
	<key>27</key>
	<string>{{240, 124}, {87, 87}}</string>
	<key>28</key>
	<string>{{327, 124}, {87, 87}}</string>
	<key>3</key>
	<string>{{153, 206}, {87, 87}}</string>
	<key>7</key>
	<string>{{327, 42}, {87, 87}}</string>
	<key>8</key>
	<string>{{66, 206}, {87, 87}}</string>
	<key>9</key>
	<string>{{153, 124}, {87, 87}}</string>
</dict>
</plist>
