<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Cake Island is a rocky piece of magic land in the Sparkling Sea. From afar, the island looks very much like a marvelous dessert created by a giant baker. It has layers of wonderful beaches, forests, and meadows, and its towns and villages resemble sweet toppings sprinkled here and there.</string>
	<key>10</key>
	<string>In Waterfall Performance Center, the streams of water work as curtains, and on performance days they move aside, unveiling the huge stage behind them.
        
The audience gathers by the shore and watches funny shows performed by mermaids, mermen, and brave divers.</string>
	<key>11</key>
	<string>Neoniks’ Will Power is an ability to perform miracles. Only those who have a lot of Will Power can do magic. 

Neoniks have to train their Will Power all the time, or it will grow weaker. For example, keeping promises or reaching the goals boost its level in a tremendous way.

Will Power is measured by a special device called a Willmeter.</string>
	<key>12</key>
	<string>The dome of the Soap Bubble Theater is iridescent during the day and crystal clear at night, allowing the moonlight to come through the roof. The theater boasts floating seats that look like soap bubbles you can comfortably sit on. Kids love riding them and ramming into each other.
        
Actors and musicians from far-off lands often perform at the Soap Bubble Theater. For example, the Money Dwarves, who perform popular melodies by jingling with the gold coins hidden in their purses, give annual shows that are always a great success.</string>
	<key>13</key>
	<string>Both kids and adults like to come to the famous Doughnut Café because there is no other place where you can find such delicious treats as Sweet Dreams, Hot Topics, and Sparkling Water-Under-the-Bridge. These are the Neoniks’ favorite dishes.
        
Inside the café, the walls are papered with enlarged pages from children’s books; the chairs look like powder-boxes with the most delicate powder-puffs for seats; and the transparent tables create a nice illusion – the customers’ legs look exceptionally slender under them, even those of Madame Hippo.
</string>
	<key>14</key>
	<string>Neoniks&apos; School of Magic looks like a lot of multicolored birdhouses connected by bridges and rope ladders.
        
The classrooms there are also unusual; instead of desks they are filled with cozy nests suspended from the ceiling.
        
The school has a museum displaying a tank of miniature whales, a ghost of a sunflower the kindergarteners had grown last year, and many other interesting items.
        
</string>
	<key>15</key>
	<string>The Neoniks love to build unusual houses, often in the shapes of various objects. Book-shaped, toaster-shaped, and bottle-shaped houses, and even a refrigerator-shaped skyscraper, can be found on Cake Island.

Jay’s family lives in the lantern-shaped house. You can get inside either through the passageway carved in the cliff or through the chimney. Naturally, Jay and his older sister Phoebe always choose the chimney, because when you fly from school you don&apos;t feel like going the long way round.
    </string>
	<key>16</key>
	<string>If Neoniks want to fly somewhere within easy reach, they use their own magic wings. But long-distance travels require buying expensive teleportation tickets.
        
Neoniks ride boats, Sky Scooters, and flying dragons as well.

The tourists arrive at Cake Island at Magic Broom Airport. It has runways suitable for all kinds of magical vehicles ranging from flying cargo-carpets to the enchanted saltshakers the little elves like to ride.
</string>
	<key>17</key>
	<string>Age: 12
        
Magic wings: quite simple with dark points at the tips. Most girls Phoebe’s age have exactly the same kind of wings.
        
Dream: To become a Muse and inspire artists and poets to create new works of art.
        
Outstanding character traits: kindness and courage.
        
Appearance: Phoebe wears a silk dress with a full skirt, a hooded jacket, and flowered goggles to work with magic. More often than not, she uses them as a headband. </string>
	<key>18</key>
	<string>Age: 10
        
Magic wings: with some highlights and a couple of curls, indicative of serious magic abilities. Most fourth-graders do not know how to make patterns on their wings.

Dream: to get a little talking pet.
        
Outstanding character traits: sense of responsibility.
        
Appearance: Jay has cool safety goggles with invisible temples to work with magic, and wears the flask of magic on his wrist instead of around his neck like everyone else.</string>
	<key>19</key>
	<string>Neoniks are magical people who live on Cake Island. When they turn seven, their parents cast the Winged Spell on them and then the little ones learn to sprout wings on their backs whenever they need them.
        
At first, Neonik kids are not very good at magic and can only make very simple wings, but the adults can grow really magnificent wings that sparkle with neon lights
</string>
	<key>2</key>
	<string>There&apos;s a building on the top of Cake Island, the outline of which resembles a lighthouse. Sea Dog lives there, an old school teacher who used to be a captain on a big ship.
        
When Sea Dog tells his stories, he often gets carried away and begins making things up. Knowing this habit of his, he always wears a badge on his chest that reads Conscience. The badge does not let him spin too long a yarn. Should he tell a fib, it starts flashing like police car emergency lights.
</string>
	<key>20</key>
	<string>DELETED, shouldn't see this.</string>
	<key>21</key>
	<string>Once upon a time, Cake Island was inhabited by now extinct iron demons. There is no accurate information about them; however, occasionally Neoniks come across their abandoned armor. The unusual demonite stones that destroy magic are always found nearby.

If Neoniks touch a demonite, all spells they bear will be broken, including those allowing them to fly. A magical creature, such as Mystie the Fox, can lose consciousness by touching a demonite.
</string>
	<key>22</key>
	<string>The Foam Castle is loсated in the middle of the Sparkling Sea. From afar, it looks like it’s made of millions of tiny bubbles.
        
The magical beauties, the Muses, who fly to poets and artists and inspire them to create new works of art, live in the Castle.

If you ever meet a Muse flying her own way, it’s a very good sign.
</string>
	<key>23</key>
	<string>Bottomless Island is an extinct volcano whose throat housed a huge well. Guides say you could go down forever and ever, but admittedly, none of the tourists ever went very far down because there were plenty of interesting things right at the top.

Inside, Bottomless Island is filled with a special greenish air that is heavier and thicker than regular air, and those who spend some time there get used to applying more effort to do everything. When they come out they move at higher speed and speak in high cartoonish voices for a while.

On the interior slopes of Bottomless Island there are caves and terraces which house the most incredible animals and plants. In addition, there are several underground villages, whose residents grow magic vegetable gardens and orchards.</string>
	<key>24</key>
	<string>Story and ideas – Elle Vira
        
Translation – Natasha Liberman

Art – Tamara Gerasun

Programming – Andrei Vidrasco

Producer – Pavel Mamaev</string>
	<key>25</key>
	<string>
Chapter 1. The Magic Fox
Chapter 2. A Strange Teacher
Chapter 3. The Obnoxious Sister
Chapter 4. The Doughnut Café
Chapter 5. Sea Dog
Chapter 6. Harold the Dragon
Chapter 7. Fire Hockey
Chapter 8. Bottomless Island
Chapter 9. The Demonite Submarine
Chapter 10. Leoville and Leomen
Chapter 11. The Painted People
Chapter 12. Inspiration and Magic
Chapter 13. The Spell</string>
	<key>26</key>
	<string>Young dragon named Harold hasn&apos;t decided on his future profession yet and temporary works as a billposter. He can run very fast but that skill does not impress his family very much.

He has two brothers, and their mother always points them out as an example for Harold. The elder brother works as a fiery dragon at a factory and spends his days dancing on coals in a furnace. The middle brother learned how to breathe a stream of firefighting foam instead of fire and works as a firefighter.

Harald dreams to be a test pilot, but he hasn&apos;t managed to save enough magic to get his wings. On Cake Island, if dragons have no magic, they can grow wings only when they fall in love.</string>
	<key>27</key>
	<string>There was time when Justacreep was a promising actor, but one day he put a deadly spell on a rival actress. She was performing a very tricky number and she almost crashed. So Justacreep was stripped of his magic powers and since then no theater wants to deal with him.
        
Now Justacreep works in a locker room of the Ice Stadium where he sharpens dragons’ claws.</string>
	<key>28</key>
	<string>Wanda supposed to be a top-class magic wand, but she was expelled from Magic Wand College for poor progress, and now she can do very few magic tricks.
        
Yet her appearance is quite impressive. Her handle is covered with fancy carving, and the cup she’s sitting in glows with blue light.

Wanda dreams of becoming a wand-a-girl so other magic wands will be jealous, burst with envy, and turn into magic splinters.</string>
	<key>3</key>
	<string>Leaves and petals of Lacegrass bear a resemblance to lacework, and gardeners from all over the Magic World compete trying to grow a flower with the coolest pattern.
        
Lacegrass is a very rare and fussy plant. An owner must feed his or her lacegrass with cookie crumbs, spray it with perfume, and praise it daily. Otherwise, it’ll shrivel with disappointment.
</string>
	<key>4</key>
	<string>Ice Stadium is where dragon fire hockey games take place. It is not only the most spectacular but also the most dangerous sport on Cake Island. During the game the dragons skate on ice on sharpened claws with great speed, wearing safety helmets, armor, and kneepads.
        
Part of the team is made up of fire-breathing dragons who melt the ice in front of their opponents coming on with the puck. If they do it well, the forward falls flat on his nose in the mud. But it isn’t that easy to stop him because frost-breathing dragons always follow him. They try to make an ice slide for him, so that the forward is able to get to the post and score a goal with his tail.
</string>
	<key>5</key>
	<string>Crazy Cactuses grow in the burning hot Brickoven Desert. They communicate with each other using sign language, moving their branches and trunks, sometimes in quite a rude way. When blossoming, they get into a singing mood and blare bandit songs that can be heard miles away.
        
Crazy Cactuses have a very odd sense of humor. They like throwing big thorny balls at occasional travelers. When they hit their targets, they roar with laughter.
</string>
	<key>6</key>
	<string>The Unnatural History Museum is located in the sand castle, built of violet quicksand. Its towers constantly change their outlines and the castle itself may even crawl to a different street.
        
The Museum is famous for its ghost gallery of nearly all magical creatures and a vast collection of magical items. The centerpiece treasure of the museum is a small purse that you can keep packing forever. It’s actually a portal to another magical world, so everything you put into the purse ends up there.
</string>
	<key>7</key>
	<string>Like other magical creatures Mystie the Fox was created by magic. Her owner, 10-year-old Jay, reached the final level of a magical game and won the first prize, a spell allowing him to create a talking animal.
        
Mystie is so tiny she can wrap herself around Jay’s wrist like a bracelet. She has a violet gem on her forehead, and each time she feels happy, a wave of violet light goes over her soft fur.</string>
	<key>8</key>
	<string>The currency of Cake Island is magic that comes in different-sized balls. Neoniks carry it in little flask pendants and use it for their personal needs or exchange it for anything starting with ice cream and all the way up to a magic castle.

Magic balls could be frozen and kept in the bank in the Village of Snow Queens. Under low temperatures, the balls accumulate the so called interests, which is tiny drops of magic that gradually increase the ball&apos;s value and power.

The manufacturing technology of magic balls is a top secret.</string>
	<key>9</key>
	<string>Once upon a time there was a Miner who lived on Cake Island and who found enormous reserves of magic underground. He had a magic rat to warn him of coming rockslides and gas leaks, and it would follow him everywhere.
        
The rat was the Miner’s only friend, but he began to suspect that it wanted to steal his magic and chased it away, just in case. His greed exhausted him so much that his body shriveled and he turned into a skeleton that had neither a heart nor a brain, and he couldn’t use his magic wealth anymore.
        
Ever since then, the Greedy Miner has wandered around the island and pestered passersby at night, demanding that they return his rat. If you talk to him, he will follow you home and moan under your window, 'Where is my darling rat?'
</string>
</dict>
</plist>
