<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Посреди Сверкающего моря есть удивительный остров Торт, который похож на сладкий десерт, приготовленный кондитером-великаном.
        
На уступах острова имеются кремовые пляжи, молочные реки и фисташковые леса, а его городки и деревни застроены причудливыми домами — нарядными, как игрушки.
 </string>
	<key>10</key>
	<string>Театральный водопад – это огромная сцена, где струи воды выполняют роль занавеса. В дни представлений они раздвигаются, и собравшиеся на берегу зрители смотрят веселые комедии с участием русалок, водяных и отважных аквалангистов.
        
При этом вода в водопаде не просто шумит, а создает нужные звуковые эффекты, а особые подводные растения подсвечивают сцену разноцветными огоньками..</string>
	<key>11</key>
	<string>Сила воли у неоников — это способность творить чудеса. Если силы воли мало, то тогда магия не будет вас слушаться. 

Силу воли надо постоянно тренировать, так как она не возникает сама по себе.  Например, она может увеличиться, если вы дадите обещание и выполните его.

Силу воли измеряют специальным градусником, который называется “вольметр”.</string>
	<key>12</key>
	<string>Днем купол театра “Мыльный пузырь” переливается всеми цветами радуги, а ночью пропускает свет луны. Сиденья в нем устроены из плавающих по воздуху больших пузырей, на которые можно усесться, как на самое мягкое кресло. Детям нравится кататься на них и врезаться друг в друга.
        
В “Мыльный пузырь” часто приезжают артисты из дальних стран. Большим успехом пользуются выступления академического хора лесных троллей и ансамбля гномов, которые исполняют популярные мелодии, вызванивая их серебряными и золотыми монетами, спрятанными в кошельках.</string>
	<key>13</key>
	<string>Неоники очень любят приходить в кафе “Пончики”, потому что нигде больше не продают такие вкусные "сладкие сны", "острые необходимости" и "седьмую воду на киселе". А это любимые блюда неоников.
        
Изнутри стены кафе оклеены увеличенными страницами из детских книг; кресла напоминают пудреницы с нежнейшими белыми пуховками на сидениях, а прозрачные столики создают приятную иллюзию: ноги под ними кажутся стройными даже у мадам Гиппопотам.</string>
	<key>14</key>
	<string>Школа магии, в которую ходят Фиби и Джей, напоминает множество разноцветных скворечников, соединенных подвесными мостами и канатами.
        
Классные комнаты там тоже необычные: дети сидят не за партами, а в подвешенных к потолку уютных гнездышках.
        
При школе имеется музей, где хранятся кубки по легкой котлетике, колбы с детскими фантазиями и аквариум с миниатюрными китами.</string>
	<key>15</key>
	<string>Неоники любят строить необычные дома и часто делают их в виде каких-нибудь предметов. На острове Торт можно встретить дом-книгу, дом-тостер, дом-бутылку и даже небоскреб в форме контрабаса.
        
В домике, изображенном на картинке, живут Фиби и Джей со своими родителями. В него можно попасть либо через проход, проделанный в скале, либо через каминную трубу. Дети, понятное дело, всегда выбирают трубу, потому что когда ты летишь из школы, тебе неохота делать лишний крюк.</string>
	<key>16</key>
	<string>Если неоникам надо слетать куда-нибудь поблизости, они используют собственные волшебные крылья. А чтобы путешествовать на дальние расстояния, им приходится покупать дорогие билеты на телепортацию.
        
Также неоники ездят на лодках, на воздушных скутерах типа “Улëтка” и на транспортных драконах.
        
Туристы прибывают на остров Торт через аэропорт «Волшебная Метла». Там имеются удобные взлетно-посадочные полосы для всех видов магического транспорта: от грузовых ковров-самолетов до небольших частных заколдованных веников.</string>
	<key>17</key>
	<string>Возраст: 12 лет
        
Волшебные крылья: Довольно простые, с темными точками на концах. Точно такие же крылья имеются у большинства сверстниц Фиби.
        
Мечта: Стать музой, которая вдохновляет художников и поэтов на новые произведения.
        
Особенности характера: Доброта и бесстрашие. При этом Фиби довольно часто ссорится со своим младшим братом Джеем, которого она пытается воспитывать.
        
Внешние особенности: Фиби носит шелковое платье с пышной юбкой, жакет с капюшоном и украшенные цветами очки для работы с магией. Правда, она чаще использует их как ободок для волос.</string>
	<key>18</key>
	<string>Возраст: 10 лет
        
Волшебные крылья: Имеют небольшую подсветку и пару завитков, что говорит о серьезных магических способностях. Обычно четвероклассники не умеют наносить узоры на крылья.
        
Мечта: Завести маленькую говорящую лисичку, которая умещается на руке.
        
Особенности характера: Повышенное чувство ответственности.
        
Внешние особенности: Носит флакон с магией не на шее, как все неоники, а на запястье. Умеет ловко жонглировать магическими шариками.  Для работы с ними использует крутые защитные очки с невидимыми дужками.</string>
	<key>19</key>
	<string>Неоники — это волшебные человечки, которые владеют магией. 

Когда им исполняется по семь лет, над ними зачитывают особые Окрыляющие Слова, и после этого у малышей появляется способность мгновенно отращивать и убирать крылья.

Маленькие дети не особо разбираются в колдовстве, поэтому они могут создавать только самые простые крылышки. А вот у взрослых встречаются поистине роскошные крылья, переливающиеся неоновыми огнями.</string>
	<key>2</key>
	<string>На вершине острова Торт находится дом, весьма напоминающий маяк. В нем живет старый школьный учитель по имени Морской Волк, который раньше служил капитаном на большом корабле.
        
Морской Волк очень любит рассказывать о своих приключениях, но при этом он часто увлекается и начинает приукрашать действительность. Зная за собой такой грешок, он носит на тельняшке медаль под названием «Совесть». Стоит ему хоть чуть-чуть приврать, как она начинает светиться, словно полицейская мигалка.
</string>
	<key>20</key>
	<string>DELETED, shouldn't see this.'</string>
	<key>21</key>
	<string>Некогда на острове Торт обитали вымершие ныне железные демоны. Достоверно о них ничего неизвестно; однако неоники время от времени находят их доспехи, а неподалеку всегда обнаруживаются и странные камешки-демониты, которые уничтожают магию.

Если неоник дотронется до демонита, с него снимутся все заклятия, в том числе позволяющие ему летать. А волшебное существо, вроде лисички  Наруке, от соприкосновения с демонитом может надолго потерять сознание.</string>
	<key>22</key>
	<string>Пенный замок расположен посреди Сверкающего моря и издали выглядит так, будто его сделали из миллионов крошечных пузырьков. В замке живут  волшебные красавицы Музы, которые прилетают к поэтам и художникам, чтобы вдохновить их на новые шедевры. 

Встреча с летящей по своим делам Музой считается большой удачей.</string>
	<key>23</key>
	<string>Бездонный остров — это потухший вулкан, в жерле которого находится громадный колодец. По слухам, в него можно спускаться до бесконечности. 

Изнутри Бездонный остров наполнен особым зеленоватым воздухом тяжелее и гуще обычного. Тот, кто проведет там некоторое время, привыкает делать все с бóльшими усилиями, и потом, выбравшись наружу, двигается в убыстренном темпе и разговаривает писклявым мультяшным голосом.

На внутренних склонах Бездонного острова располагаются террасы и пещеры, где обитают самые удивительные животные и растения. Кроме того, там находится несколько подземных деревень, жители которых разводят волшебные сады и огороды.</string>
	<key>24</key>
	<string>Автор текста и идеи — Эльвира Барякина
        
Художник — Тамара Герасун

Продюсер — Павел Мамаев

Программист — Андрей Видрашко


www.neoniki.ru</string>
	<key>25</key>
	<string>
Глава 1. Волшебная лисичка
Глава 2. Странный учитель
Глава 3. Вредная сестра
Глава 4. Кафе «Пончики»
Глава 5. Морской волк
Глава 6. Нелетающий дракон
Глава 7. Огненный хоккей
Глава 8. Бездонный остров
Глава 9. Батискаф из демонита
Глава 10. Леовилль и леомены
Глава 11. Нарисованные человечки
Глава 12. Вдохновение и магия
Глава 13. Великое заклинание</string>
	<key>26</key>
	<string>Молодой дракон Харальд еще не определился с профессией и временно работает расклейщиком афиш. Он умеет очень быстро бегать, в том числе и по стенам, но его семью этим не удивишь.
        
У него есть два брата, и мама всегда ставит их Харальду в пример. Старший брат работает огненным драконом на заводе и целыми днями пляшет на углях в печи. А средний брат умеет выдыхать не огонь, а пенную струю, и служит пожарным.
        
Втайне Харальд мечтает стать летчиком-испытателем, но пока ему не удается скопить достаточно магии на крылья. А сами по себе крылья у драконов отрастают только в брачный период.</string>
	<key>27</key>
	<string>Когда-то Простокисс был подающим надежды актером. Однажды он из зависти наложил проклятье на молодую талантливую артистку, и она едва не разбилась, выполняя сложный трюк. За это Простокисса лишили способностей к волшебству, и с тех пор ни один театр не хочет иметь с ним дело.
        
Теперь он работает в раздевалке Ледового стадиона и точит когти игрокам-драконам. Его покровителем (в прямом и переносном смысле) является Шуба — магическое существо, которое некогда было большим и сильным зверем.
</string>
	<key>28</key>
	<string>Волпа должна была стать волшебной палочкой высшего разряда, но ее выгнали из волшебно-палочного колледжа за неуспеваемость, так что она почти не умеет колдовать.
        
Тем не менее она обладает весьма впечатляющей внешностью: на ее одном конце имеется рукоятка, покрытая затейливой резьбой, а на другом — сверкающая чаша с самой Волпой.
        
Она крайне тщеславна и мечтает стать “палководцем” — чтобы все остальные волшебные палочки завидовали ей и подражали ее нарядам. А еще лучше — усохли от зависти и превратились в волшебные щепки.</string>
	<key>3</key>
	<string>Филигрань-трава — это особо редкое и очень капризное растение. Его лепестки и листья напоминают кружево, и
        садоводы со всего Волшебного мира соревнуются с друг другом, стараясь вырастить цветок с наиболее замысловатым узором.

Филигрань-траву надо удобрять крошками от бисквитов, спрыскивать духами и ежедневно нахваливать — иначе она завянет от огорчения.
</string>
	<key>4</key>
	<string>На Ледовом стадионе проходят соревнования по огненному хоккею. Это не только самый зрелищный, но и самый опасный вид спорта на острове Торт.
        
Часть хоккейной команды составляют огнедышащие драконы, которые растапливают лед перед несущимся на них противником с шайбой. Если им это удается, то нападающий кувыркается носом в грязь. Но остановить его совсем непросто, потому что рядом всегда находятся драконы с морозным дыханием. Они пытаются сделать для нападающего ледяную дорожку, чтобы тот успел докатиться до ворот и забить шайбу хвостом.
</string>
	<key>5</key>
	<string>Бешеные кактусы растут в раскаленной пустыне Печь-духовка. Между собой они объясняются жестами — порой весьма неприличными, а во время цветения поют друг другу разбойничьи частушки.
        
У бешеных кактусов очень странное чувство юмора. Они любят кидаться в случайных путников большими шарами с колючками и если попадают, то громко хохочут.
</string>
	<key>6</key>
	<string>Музей неестественной истории располагается в Песчаном замке, который построен из фиолетового зыбучего песка. Его башни постоянно меняют очертания, а сам замок может переползти на другое место.
        
Музей знаменит собранием привидений чуть ли не всех магических существ и обширной коллекцией волшебных предметов. Главным сокровищем музея является Безразмерная сумка, в которую можно до бесконечности складывать предметы — а все потому, что она является порталом в другой волшебный мир.
</string>
	<key>7</key>
	<string>Как и другие волшебные существа, лисичка Наруке была создана с помощью магии. Ее хозяин, неоник по имени Джей, добрался до последнего уровня в волшебной видео-игре и получил приз — заклинание, позволяющее создать говорящую лисичку.
        
Наруке такая маленькая, что может обернуться вокруг детского запястья наподобие браслета. На лбу у нее имеется волшебный кристалл. Когда она радуется, по ее мягкой шерстке пробегает волна сиреневого света.
</string>
	<key>8</key>
	<string>Вместо денег неоники используют шарики магии разного размера, которые они носят на шее в небольших бутылочках-кулонах. Магию можно потратить в магазине, а можно использовать для собственных нужд. 

Излишки магии замораживают и хранят в банке в Деревне Снежных Королев. При низких температурах на шариках накапливаются так называемые «проценты» — крошечные капли магии, которые постепенно увеличивают силу шарика.

Технология изготовления магических шариков строго засекречена.</string>
	<key>9</key>
	<string>Давным-давно на острове Торт жил Шахтер, который нашел под землей огромные запасы магии. Он никогда не расставался со своей волшебной крысой, предупреждавшей его об обвалах и утечках газа.
        
Крыса была единственным другом Шахтера, но он стал подозревать, что она хочет украсть его магию, и на всякий случай прогнал ее. От жадности он так усох, что превратился в скелет, у которого не осталось ни сердца, ни мозгов, и он уже не мог воспользоваться своим богатством.
        
С тех пор Жадный Шахтер бродит по острову, пристает по ночам к прохожим и требует, чтобы они вернули ему крысу. Если с ним заговорить, он потащится за вами до самого дома и будет стонать под окнами: «Где моя дорогая крыса?!»
</string>
</dict>
</plist>
